=font-fam
  :font-family Helvetica, Arial, sans-serif
=font-11
  :font-size 11px
=bold
  :font-weight bold
=no-mar
  :margin 0 0 0 0
=no-pad
  :padding 0 0 0 0
=neither
  :padding 0 0 0 0
  :margin 0 0 0 0

html,  body
  :height 100%
  :margin 0 0 1px 0
  :padding 0

input, select
  +font-fam
  +font-11

a img
  :border none
  :vertical-align middle

body
  :background #feece8 url(/images/bg.jpg) no-repeat center top
  :background-attachment fixed
  :color #373535
  +font-11
  +font-fam
  :line-height 135%

.left
  :float left
.half
  :width 46%
.right
  :float right
p
  +neither

.tr, div.tr, td.tr, th.tr
  :text-align right
a
  :color #ce413e
  :text-decoration none
  &:hover
    :text-decoration underline
  &:focus
    :outline none

a:active
  :outline none

.clear
  :clear both

#welcome
  :padding 10px 14px 9px 14px
  :border 1px solid #ccc
  :margin -15px 0 25px 0
  :font-size 16px
  :background white
  :line-height 160%

.row
  :padding 10px 0
  label
    :display block
    :font-weight bold
    :font-size 13px
    input
      :width auto
      :height auto
  input
    :font-size 22px
    :width 95%

.half
  :width 46%
  :float left
  :margin-right 15px

.buttons
  :margin 10px 0
  a
    :font-size 12px 
    :font-weight bold
    :margin-left 7px

  input
    :font-size 14px
    :font-weight bold
    :margin 0
    :border none
    :padding 6px
    :background #f06863
    :color white
  input:hover
    :background #333
    :color white
    :cursor pointer

h2
  :font-size 22px
  :text-align center
  :padding-bottom 15px
  :border-bottom 1px solid #ccc

.footer
  :margin 0 0 0 74px

#pagination
  :padding 10px 0
  :clear both
  :margin-top 10px
  :text-align center
  a, .current
    :padding 5px 7px 5px 7px
    :border-top 2px solid #f06863
    :border-right 2px solid #f06863
    :border-left 1px solid #792624
    :border-bottom 1px solid #792624
    :background #ce413e
    :color white
    :margin 0 2px 0 0
  .current
    :background #792624
    :font-weight bold
  .disabled
    :padding 5px 7px 5px 7px
    :border-top 2px solid #cccccc
    :border-right 2px solid #cccccc
    :border-left 1px solid #444444
    :border-bottom 1px solid #444444
    :background #999999
    :color white
    :margin 0 2px 0 0
  a:hover
    :background #792624

#nav
  :position fixed
  :top 0px
  :left 0px
  :font-size 15px
  :font-weight bold
  :width 100%
  :background #f8eadf
  :padding 20px 10px
  :border-bottom 1px solid #f06863
  :z-index 9999

  a
    :font-size 14px
    :font-weight bold
    :margin 0 5px
    :padding 10px
    :background #f06863
    :color white

#container
  :margin 0 auto
  +no-pad
  :width 800px

#adsense
  :width 170px
  :display none
  :float right
  :padding 20px 10px

#main
  :width 613px
  :margin -5px 0 0 74px
  :background url(/images/content.png) repeat-y
  :padding 20px

#flash-error
  :background red
  :padding 10px
  :color white
  :margin-bottom 20px
  :font-size 14px
  :font-weight bold

#flash-notice
  :background green
  :padding 10px
  :color white
  :margin-bottom 20px
  :font-size 14px
  :font-weight bold

#rating   
  :padding 0 10px 0 10px
  :width 160px
  :float right
  h3
    :font-size 16ßpx
    :margin 0 0 0 0
    :padding 0 0 5px 0
    :line-height 135%

#membership
  float: right
  ul
    list-style-type: none
    li
      padding-right: 10px
      float: left

#video
  float: left
  height: 344px
  width: 425px
  margin-bottom: 20px

#videos
  height: 180px

.loading
  padding-top: 30px
  text-align: center
  font-size: large
  .dreamhost
    font-size: x-small

.thumbnails
  div
    display: inline
    img
      padding: 5px
      margin: 5px
      border: thin solid white
  .selected img
    border: thin solid red

.thumbnail
  float: left
  width: 152px
  height: 150px
  text-align: center
  div
    padding: 7px
  a
    img
      height: 90px

#average
  font-size: 200%

#backitup
  text-align: right
