body 
  font-family: Helvetica

#container 
  float: left
  margin-right: 10px
  width: 80%
  border-right: thin solid gray

#header 
  color: gray
  overflow: hidden
  width: 100%
  border-bottom: thin solid black
  margin-bottom: 10px

#logo 
  float: left
  h1 a
    text-decoration: none

#membership 
  float: right
  ul
    list-style-type: none
    li
      padding-right: 10px
      float: left

#video 
  margin-right: 10px
  float: left

#pagination 
  clear: both
  text-align: right
  font-size: 150%
  padding-right: 20px

.thumbnails
  div
    display: inline
    img
      padding: 5px
      margin: 5px
      border: thin solid white
  .selected img
    border: thin solid red

.thumbnail
  float: left
  width: 150px
  height: 180px
  text-align: center
