* {
    font-family: Helvetica;
}

div#container {
    float: left;
    margin-right: 10px;
    width: 80%;
    border-right: thin solid gray;
}

div.thumbnail {
  float: left;
  width: 150px;
  height: 180px;
  text-align: center;
}

div#header {
    color: gray;
    overflow: hidden;
    width: 100%;
    border-bottom: thin solid black;
    margin-bottom: 10px;
}

div#logo {
    float: left;
}

div#logo h1 a {
    text-decoration: none;
}

div#membership {
    float:right;
}

div#membership ul {
    list-style-type: none;
}

div#membership ul li {
    padding-right: 10px;
    float: left;
}

div#video {
    margin-right: 10px;
    float: left;
}

div#rating {
}

div#thumbnails div {
    display: inline;
}

div#thumbnails div#selected img {
    border: thick solid green;
}