* {
    font-family: Helvetica;
}

#container {
    float: left;
    margin-right: 10px;
    width: 80%;
    border-right: thin solid gray;
}

div.thumbnail {
  float: left;
  width: 150px;
  height: 180px;
  text-align: center;
}

#header {
    color: gray;
    overflow: hidden;
    width: 100%;
    border-bottom: thin solid black;
    margin-bottom: 10px;
}

#logo {
    float: left;
}

#logo h1 a {
    text-decoration: none;
}

#membership {
    float:right;
}

#membership ul {
    list-style-type: none;
}

#membership ul li {
    padding-right: 10px;
    float: left;
}

#video {
    margin-right: 10px;
    float: left;
}

#rating {
}

#videos {
}

#pagination {
    clear: both;
    text-align: right;
    font-size: 150%;
    padding-right: 20px;
}

div.thumbnails div {
    padding: 20px;
    display: inline;
}

div.thumbnails div.selected img {
    border: thick solid red;
}