#welcome
  %strong
    Where's the latest video?
  Out of respect for the traffic <a href="http://www.hotforwords.com/">HotForWords</a>
  generates from <a href="http://www.youtube.com/hotforwords">its YouTube channel</a>
  when releasing new videos, they will be delayed from appearing here by a few days.
