#welcome
  Toohotforwords makes Ted wish he could read. He longingly stares at the monitor hoping he could one day have will something in common with Marina besides having a monthly period.
  
  
#videos
  - @videos.each do |video|
    .thumbnail
      = link_to(image_tag(video.thumbnail_url, :alt => h(video.title)), video)
      = ratings_for(video, :static)
#pagination
  = will_paginate(@videos)
