<div id="wrapper">
  <div id="video">
    <object width="425" 
            height="344"
            type="application/x-shockwave-flash"
            data="<%=h @video.embed_url %>">
      <param name="movie"
             value="<%=h @video.embed_url %>" />
    </object>
  </div>
  <div id="rating">
    <h2>
      <%= h(@video.title) %>
    </h2>
    How hot is Marina's outfit in this video?
    <%= ratings_for @video %>
  </div>
</div>
