= render :partial => 'welcome'
#ajax_spinner
  .loading
    %img{:src => '/images/spinner.gif'}
    %br
    Please wait while this content loads...
    .dreamhost
      (DreamHost can be awfully slow sometimes.)
#episode
  = render :partial => 'episode'
#videos
  = render :file => 'videos/index'