= render :partial => 'welcome'
#episode_spinner
  %img{:src => '/images/spinner.gif'}
#episode
  = render :partial => 'episode'
#videos_spinner
  %img{:src => '/images/spinner.gif'}
#videos
  = render :file => 'videos/index'