<% @video.thumbnails.each do |thumbnail| %>
<% next if thumbnail.url.ends_with?('0.jpg') %>
<% if thumbnail.url == @video.thumbnail_url %>
  <div id="selected">
<% else %>
  <div>
<% end %>
<%= link_to_remote( image_tag(thumbnail.url),
                   :update => 'thumbnails',
                   :url => { :action => 'thumbnail',
                             :video_id => @video.id,
                             :thumbnail_id => thumbnail.id } ) %>
  </div>
<% end %>
