#MAILTO="marina@anachromystic.com"
5 5 * * *  cd /home/teflonted/marina.anachromystic.com/current && nice -n 19 rake videos:harvest RAILS_ENV=production
#15 2 * * *  cd /home/teflonted/marina.anachromystic.com/current && nice -n 19 rake db:backup RAILS_ENV=production
