<%= title "Forgot Your Password?", :h2 %>
<% form_for @password do |f| %>
  <%= f.error_messages %>

			<div class="row">
		    <label>Enter Your Email Address</label>
		    <%= f.text_field :email %>
			</div>
			
	<div class="buttons">
  	<%= f.submit "Submit" %>
	</div>
<% end %>

