#nav
  - if logged_in?
    Are you tired of learning?
    = link_to('Log-out', logout_path)
  - else
    Want to rate outfits?
    = link_to('Log Back In', login_path)
    OR
    = link_to('Sign-up', signup_path)
