#nav
  - if logged_in?    
    ="Are you tired of being a fashionista, #{h(current_user.login)}?"
    = link_to('Log Out', logout_path)
  - else
    Want to rate outfits?
    = link_to('Log In', login_path)
